//====================================================================================================
.header {
	z-index: 500;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	&._header-scroll {
		position: fixed;
		top: -200%;
	}
	&._header-show {
		transition: top 0.3s ease 0s;
		top: 0;
		background: #fff;
	}
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 108, 40);
	}
	// .header__logo
	&__logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			font-family: "Montserrat";
			font-weight: 700;
			font-size: 30px;
			line-height: math.div(37, 30);
			color: #ffffff;
		}
	}
	// .header__menu
	&__menu {
		display: flex;
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			justify-content: flex-end;
		}
	}
	// .header__menu-body
	&__menu-body {
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			transition: all 0.5s ease 0s;
			& .header__list {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				flex-direction: column;
				row-gap: 30px;
				& .header__link {
					font-size: 30px;
				}
			}
			.menu-open & {
				top: 0;
				background: rgba(0, 0, 0, 0.79);
				z-index: 50;
				& .header__link {
					z-index: 51;
					color: white;
				}
			}
		}
	}

	// .header__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: 40px;
		row-gap: 10px;
		flex-wrap: wrap;
	}
	// .header__item
	&__item {
		transform: scale(0);
		a {
			color: #fff;
		}

		._watcher-view & {
			transform: scale(1);
			a {
				color: inherit;
			}
		}
	}
	// .header__link
	&__link {
		font-weight: 500;
		font-size: 22px;
		line-height: math.div(26, 20);
		color: #7e7f86;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $mainColor;
		}
	}
	// .header__icon
	&__icon {
	}
}
@keyframes showScale {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 70px;
		height: rem(70);
		cursor: pointer;
		z-index: 55;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 30%;
			position: absolute;
			width: 40%;
			height: 2px;
			background-color: #25202f;
		}
		&::before {
			top: 35%;
		}
		&::after {
			bottom: 35%;
		}
		span {
			top: 50%;
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
