@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:regular,500,700&display=swap");
%AlegS {
	font-family: "Alegreya Sans";
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Alegreya Sans";
$fontSize: rem(18); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #25202f; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1400;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц

.page {
	// .page__main
	&__main {
	}
	// .page__jobs
	&__jobs {
	}
}
.main-page {
	// .main-page__container
	&__container {
	}
	// .main-page__body
	&__body {
		display: grid;
		gap: 40px;
		justify-content: center;
		@media (min-width: 700px) {
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}
	}
	// .main-page__content
	&__content {
	}
	// .main-page__text
	&__text {
		font-weight: 500;
		font-size: 24px;
		line-height: 120%;
		color: #666666;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .main-page__name
	&__name {
		font-weight: 700;
		@include adaptiveValue("font-size", 60, 40);
		line-height: 120%;
		color: #25202f;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .main-page__profession
	&__profession {
		font-size: 24px;
		line-height: math.div(32, 24);
		color: #25202f;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
	// .main-page__btn
	&__btn {
	}
	// .main-page__images
	&__images {
		position: relative;
		transform-origin: center;
		background: url("@img/main/decor.svg") center/cover no-repeat;

		img {
			max-width: 100%;
			position: relative;
			z-index: 11;
		}
		@media (max-width: $mobile) {
			& span {
				width: 3px;
				height: 3px;
			}
		}
	}
	&__svgs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		svg {
			max-width: 100%;
			max-height: 100%;
			position: absolute;
			transform-origin: center;
			z-index: 10;
		}
	}
	&__svg1 {
		animation: rotateBig 250s infinite linear;
	}
	&__svg2 {
		animation: rotateBig2 250s infinite linear;
	}
	&__one {
		width: 6px;
		height: 6px;
		background: #ff59c1;
		position: absolute;
		top: 10%;
		left: 10%;
		border-radius: 50%;
		animation: triangle 5s infinite linear alternate;
	}
	// .main-page__two
	&__two {
		width: 6px;
		height: 6px;
		background: #ff59c1;
		position: absolute;
		top: 0%;
		right: 20%;
		border-radius: 50%;
		animation: triangle 5s infinite linear alternate;
	}
	// .main-page__three
	&__three {
		width: 6px;
		height: 6px;
		background: #43dc77;
		position: absolute;
		top: 50%;
		right: 2%;
		border-radius: 50%;
		animation: triangle 7s infinite linear alternate;
	}
	// .main-page__four
	&__four {
		width: 6px;
		height: 6px;
		background: #8643dc;
		position: absolute;
		bottom: 3%;
		left: 7%;
		border-radius: 50%;
		animation: triangle 6s infinite linear alternate;
	}
}
// =========================================

.aboutme-page {
	padding-top: 50px;
	@include adaptiveValue("padding-bottom", 100, 50);
	// .aboutme-page__container
	&__container {
	}
	// .aboutme-page__tiltle
	&__tiltle {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .aboutme-page__body
	&__body {
	}
	// .aboutme-page__description
	&__description {
		line-height: math.div(32, 16);
		color: #47444e;
		@include adaptiveValue("font-size", 18, 14);
	}
}
// ==============================================
.jobs-page {
	// .jobs-page__container
	&__container {
	}
	// .jobs-page__tiltle
	&__tiltle {
	}
	// .jobs-page__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
	}
	// .jobs-page__item
	&__item {
		flex: 0 1 calc(50% - 20px);
		a {
			img {
				max-width: 100%;
			}
		}
	}
}
